<div class="container-fluid pt-4">
  <div class="row px-4">
    <div class="col-md-3">
      <h2 class="">Get in Touch</h2>
      <p class="fw-normal">
        <fa-icon [icon]="faLocationDot"></fa-icon> 75 EStore, Urgench, Uzb
      </p>
      <p><fa-icon [icon]="faEnvelope"></fa-icon> email@example.com</p>
      <p><fa-icon [icon]="faPhone"></fa-icon> +99 897 361 91 77</p>
    </div>
    <div class="col-md-3">
      <h2 class="pr-3">Follow Us</h2>
      <span class="span-icon">
        <a href="#">
          <img class="social" src="../../assets/footer/telegram.svg" alt="" />
        </a>
      </span>
      <span class="span-icon">
        <a href="#">
          <img class="social" src="../../assets/footer/youtube.svg" alt="" />
        </a>
      </span>
      <span class="span-icon">
        <a href="#">
          <img class="social" src="../../assets/footer/whatsapp.svg" alt="" />
        </a>
      </span>
      <span class="span-icon">
        <a href="#">
          <img class="social" src="../../assets/footer/linkedin.svg" alt="" />
        </a>
      </span>
    </div>
    <div class="col-md-3">
      <h2>Company Info</h2>
      <p><a href="#" class="text-decoration-none text-dark"> About Us</a></p>
      <p>
        <a href="#" class="text-decoration-none text-dark"> Privacy Policy</a>
      </p>
      <p>
        <a href="#" class="text-decoration-none text-dark">
          Terms & Condition</a
        >
      </p>
    </div>
    <div class="col-md-3">
      <h2>Purchase Info</h2>
      <p>Payment Policy</p>
      <p>Shipping Policy</p>
      <p>Return Policy</p>
    </div>
  </div>
  <hr />
  <div class="row py-3">
    <div class="col-md-1"></div>
    <div
      class="col-md-4 fw-bolder fs-6 d-flex align-items-center justify-content-center"
    >
      We Accept:
      <img
        class="payment"
        src="../../assets/footer/visa.svg"
        width="50px"
        alt=""
      />
      <img
        class="payment"
        src="../../assets/footer/unionpay.svg"
        width="50px"
        alt=""
      />
      <img
        class="payment"
        src="../../assets/footer/mastercard.svg"
        width="50px"
        alt=""
      />
      <img
        class="payment"
        src="../../assets/footer/mir.svg"
        width="50px"
        alt=""
      />
    </div>
    <div class="col-md-1"></div>
    <div
      class="col-md-5 fw-bolder fs-6 d-flex align-items-center justify-content-center"
    >
      Secured By:
      <img class="secure" src="../../assets/footer/godaddy.svg" alt="" />
      <img class="secure" src="../../assets/footer/norton.svg" alt="" />
      <img class="secure" src="../../assets/footer/ssl.svg" alt="" />
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-12 bg-dark text-white py-4 text-center fs-6">
      <p>Copyright © 2022. All Rights Reserved</p>
    </div>
  </div>
</div>
