.span-icon {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0 5px;
  border-radius: 10px;
}
.secure {
  width: 90px;
}

@media (max-width: 350px) {
  .payment {
    width: 40px;
  }
  .secure {
    width: 60px;
  }
}
