<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="text-decoration-none text-primary" routerLink="/">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a class="text-decoration-none text-primary" routerLink="/products"
          >Products</a
        >
      </li>
      <li class="breadcrumb-item active" aria-current="page">Cart</li>
    </ol>
  </nav>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <table class="table table-bordered">
        <thead class="border text-center">
          <tr class="border">
            <th scope="col">Products</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody class="border">
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
